body
  margin: 0 !important
  width: 100vw
  height: 100vh
  max-height: 100vh
  background-image: linear-gradient(109.5deg, rgba(76, 221, 242, 1) 11.2%, rgba(92, 121, 255, 1) 91.1%)

  #konva-wall
    display: none

    #konva-container
      min-height: 40vh
      height: 500px
      width: 800px
      margin: 0 auto
  position: relative


.mainWindow
  width: 60vw
  height: auto
  background-color: white
  border-radius: 15px
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

  &.large
    width: 80vw

.mainWindow h1, h2
  text-align: center

.logo
  margin-left: auto
  margin-right: auto
  width: 150px
  display: block

.climbOptions
  width: 100%

#routes
  margin: 25px
  width: 40%
  display: inline-block

.route-editor
  float: right
  width: 40%
  display: inline-block

.wall-preview
  min-height: 40vh
  height: 500px
  width: 800px
  margin: 0 auto

#climbsList li
  margin-left: auto
  margin-right: auto
  padding: 15px

#climbsList button
  float: right

.hamburger
  position: fixed
  z-index: 100
  top: 1rem
  right: 1rem
  padding: 4px
  color: white
  background: none
  border: none
  cursor: pointer

.closeIcon
  display: none

.menu
  position: fixed
  transform: translateY(-100%)
  transition: transform 0.2s
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 99
  background: cornflowerblue
  color: white
  list-style: none
  padding-top: 4rem
  text-align: center

.menuItem
  font-size: 3em
  width: 80vw
  position: relative
  color: white
  text-align: center


.showMenu
  transform: translateY(0)

#qr
  float: right